.title {
  font-size: rem(34);
  font-weight: 800;
  color: var(--mantine-color-text);
}

.description {
  max-width: 600px;
  margin: auto;

  &::after {
    content: "";
    display: block;
    background-color: var(--mantine-color-violet-filled);
    width: 45px;
    height: 2px;
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
  }
}

.card {
  transition: transform 0.2s ease;
  cursor: default;
}

.card:hover {
  transform: translateY(-5px);
  filter: brightness(0.98);
}

.cardTitle {
  &::after {
    display: none;
  }
}
